#format:
#   add # to mark as comment
#   case sensitive
#   space sensitive
#   ignores newline
#   decimal values separated by . (dot)
#       variablename=value

location=/dev/ttyUSB0
baudrate=9600